body {
  height: 100vh;
  background: linear-gradient(to right, #9562C8 , #D58982);
  font-family: 'Khula', sans-serif;
  color: #2f2f2f;
  overflow: hidden;
  margin: 0 8px;
}

button:focus {outline:0;}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#App {
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  height: 70%;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

/* Custom */
.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.row.vertical {
  flex-direction: column;
}

#InputField {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-grow: 4;
}

#Display {
  flex-grow: 2;
  position: relative;

}

#Display h1 {
  margin: 0;
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 3em;
}

#History {
  flex-grow: 1;
  background-color: black;
}

#InputField #NumberField {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

#InputField #OperationField {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #ECD169 , #DE9A68);
}

#OperationField .Button {
  border-right: none;
  border-bottom: none;
  color: white;
}

#InputField .Button {
  border-left: none;
  border-bottom: none;
}

.Button {
  border: 1px solid #e6e6e6;
  flex: 1;
  background: transparent;
  font-size: 1.2em;
  padding: 0;
}

.Button:active {
  background-color: #e6e6e6;
}

.Button.zero {
  border-bottom-left-radius: 10px;
  flex-grow: 2;
}

#OperationField, #OperationField .Button:last-child {
  border-bottom-right-radius: 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
